
/* --------------- Cart ---------------- */

.cart-btn {
    float: right;
    cursor: pointer;
}
.nav-icon {
    font-size: 1.5rem;
  }
.cart-items {
    top: -100px;
    right: -8px;
    padding: 0 5px;
    border-radius: 30%;
}

/* --------------- Products ---------------- */

.products {
    padding: 10px 80px 20px 80px;
    
  }
  .section-title h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 5rem;
    text-transform: capitalize;
    letter-spacing: var(--mainSpacing);
  }
  .products-center {
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-column-gap: 1.5rem;
    grid-row-gap: 2rem;
    margin-top: -50px;
  }

  .product h3 {
    text-transform: capitalize;
    font-size: 1.1rem;
    margin-top: 1rem;
    letter-spacing: var(--mainSpacing);
    text-align: center;
  }
  
  .product h4 {
    margin-top: 0.7rem;
    letter-spacing: var(--mainSpacing);
    color: var(--primaryColor);
    text-align: center;
  }
  
  /* ---------------End of Products ---------------- */