<!DOCTYPE html>
  <head>
    <title>Expresso</title>
    <meta charset = "UTF-8">
    <meta name = "description" content = "Exppresso, an e-commerce site that sells coffee beans">
    <meta name = "author" content = "Kai Run Leong (S3862092), Kyriece(enter student number)">
    <meta name = "keywords" content = "Coffee beans, e-commerce, Expresso">
    <meta name = "viewport" content = "width=device_width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
    <style>
      body,html{
        margin: 0;
        padding: 0;
        font-family: "Inconsolata", sans-serif;
      }
      body{
        height: 100vh;
        width: 100vw;
      }
    </style>
  </head>

  <body>
    <div>
      <div class = div-logo>
        <a href = "home.html">
          <img src="../images/icons8-coffee-beans-96.png" alt="Free logo from icons8.com">
        </a>
      </div>
      <div class = login-button-div>
        <a href = "Login.html" class = login-button>Login</a>
      </div>
      <div class = register-button-div>
        <a href = "Register.html" class = login-button>Register</a>
      </div>
      <div class = logout-button-div>
        <a href = "../php/Logout.php" class = login-button>Logout</a>
      </div>


    </div>
    <div class = "grid-container">
      <div>
        <a href = "home.html" class = "top_button">Home</a>
      </div>
      <div>
        <a href = "About.html" class = "top_button">About</a>
      </div>
      <div>
        <a href = "Products.html" class = "top_button">Product</a>
      </div>
      <div>
        <a href = "ContactUs.html" class = "top_button">Contact Us</a>
      </div>
    </div>

    <!--NAVIGATION BAR-->

    
    <div class="about-section">
        <h1>About Us Page</h1>
        <p>Some text about who we are and what we do.</p>
    </div>

    <section class="catalogue">
        <div class="box-container">
    
            <div class="box">
                <div class="image">
                    <img src="../images/IMG_7844.jpg" alt="" style="max-width: 300px; max-height: 330px; border: 2rem;">
                </div>
                <div class="content">
                    <h1>KYRIECE DAM</h1>
                    <p> s3848845@student.rmit.edu.au </p>
                    <p> Front-end Designer, Third year Computer Science</p>
                </div>
            </div>
            <div class="box">
                <div class="image">
                    <img src="../images/kai.png" alt="" style="width: 300px; max-height: 330px; border: 2rem;">
                </div>
                <div class="content">
                    <h1>Kai Run Leong</h1>
                    <p> s3862092@student.rmit.edu.au</p>
                    <p> Back-end Developer, Third year Computer Science</p>
                </div>
            </div>
        </div>
    </section>