<!DOCTYPE html>
  <head>
    <title>Expresso</title>
    <meta charset = "UTF-8">
    <meta name = "description" content = "Exppresso, an e-commerce site that sells coffee beans">
    <meta name = "author" content = "Kai Run Leong (S3862092), Kyriece(enter student number)">
    <meta name = "keywords" content = "Coffee beans, e-commerce, Expresso">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
    <style>
      body,html{
        margin: 0;
        padding: 0;
        font-family: "Inconsolata", sans-serif;
      }
      body{
        height: 100vh;
        width: 100vw;
      }
    </style>
  </head>

  <body>
    <div>
      <div class = div-logo>
        <a href = "home.html">
          <img src="../images/icons8-coffee-beans-96.png" alt="Free logo from icons8.com">
        </a>
      </div>
      <div class = login-button-div>
        <a href = "Login.html" class = login-button>Login</a>
      </div>
      <div class = register-button-div>
        <a href = "Register.html" class = login-button>Register</a>
      </div>

    </div>
    <div class = "grid-container">
      <div>
        <a href = "home.html" class = "top_button">Home</a>
      </div>
      <div>
        <a href = "About.html" class = "top_button">About</a>
      </div>
      <div>
        <a href = "Products.html" class = "top_button">Product</a>
      </div>
      <div>
        <a href = "ContactUs.html" class = "top_button">Contact Us</a>
      </div>
    </div>

    <!--NAVIGATION BAR-->

    <section class ="cart">
        <div class="box-container">
            <table>
                <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Subtotal</th>
                </tr>
                <tr>
                    <td>Product name</td>
                    <td><input type="number" value="1"></td>
                    <td>$30.00</td>
                </tr>
            </table>
        </div>
    </section>
    <!--Cart-->

    <section class="catalogue">
      <div class="box-container">
    
        <div class="box">
            <i class="fas fa-times"></i>
            <img src="../images/copper.png" alt="">
            <div class="content">
                <h3>smartphone</h3>
                <form action="">
                    <span>quantity : </span>
                    <input type="number" name="" value="1" id="">
                </form>
                <div class="price">$249.99 <span>$399.99</span></div>
            </div>
        </div>
    
        <a href="#" class="box">
          <img src="../images/eight.png" alt="">
          <div class="content">
            <h1>EIGHT O'CLOCK</h1>
            <div class="price">$30</div>
            <p> DESCRIPTION</p>
          </div>
        </a>
    
        <a href="#" class="box">
          <img src="../images/hair.png" alt="">
          <div class="content">
            <h1>STUMPTONS HAIR BENDER</h1>
            <div class="price">$30</div>
            <p> DESCRIPTION</p>
          </div>
        </a>
    
        <a href="#" class="box">
          <img src="../images/medium_roast.png" alt="">
          <div class="content">
            <h1>MEDIUM ROAST</h1>
            <div class="price">$30</div>
            <p> DESCRIPTION</p>
          </div>
        </a>
    
        <a href="#" class="box">
          <img src="../images/pacific.png" alt="">
          <div class="content">
            <h1>PACIFIC RIM</h1>
            <div class="price">$30</div>
            <p> DESCRIPTION</p>
          </div>
        </a>
    
        <a href="#" class="box">
          <img src="../images/philz.png" alt="">
          <div class="content">
            <h1>PHILZ COFFEE</h1>
            <div class="price">$30</div>
            <p> DESCRIPTION</p>
          </div>
        </a>
    
      </div>
    </section>
</body>

</html>