<!DOCTYPE html>
  <head>
    <title>Expresso</title>
    <meta charset = "UTF-8">
    <meta name = "description" content = "Exppresso, an e-commerce site that sells coffee beans">
    <meta name = "author" content = "Kai Run Leong (S3862092), Kyriece(enter student number)">
    <meta name = "keywords" content = "Coffee beans, e-commerce, Expresso">
    <meta name = "viewport" content = "width=device_width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/cart.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
    <style>
      body,html{
        margin: 0;
        padding: 0;
        font-family: "Inconsolata", sans-serif;
      }
      body{
        height: 100vh;
        width: 100vw;
      }
    </style>
  </head>

  <body>
    <div>
      <div class = div-logo>
        <a href = "home.html">
          <img src="../images/icons8-coffee-beans-96.png" alt="Free logo from icons8.com">
        </a>
      </div>
      <div class = login-button-div>
        <a href = "Login.html" class = login-button>Login</a>
      </div>
      <div class = register-button-div>
        <a href = "Register.html" class = login-button>Register</a>
      </div>

    </div>
    <div class = "grid-container">
      <div>
        <a href = "home.html" class = "top_button">Home</a>
      </div>
      <div>
        <a href = "About.html" class = "top_button">About</a>
      </div>
      <div>
        <a href = "Products.html" class = "top_button">Product</a>
      </div>
      <div>
        <a href = "ContactUs.html" class = "top_button">Contact Us</a>
      </div>
    </div>

    <!--NAVIGATION BAR-->

    <div class="wrap cf">
        <h1 class="projTitle">Shopping Cart</h1>
        <div class="heading cf">
            <h1>My Cart</h1>
            <a href="../template/Products.html" class="continue">Continue Shopping</a>
        </div>
        <div class="cartSection">
         
            <img src="http://lorempixel.com/output/technics-q-c-300-300-4.jpg" alt="" class="itemImg" />
              <p class="itemNumber">#QUE-007544-002</p>
              <h3>Item Name 1</h3>
            
               <p> <input type="text"  class="qty" placeholder="3"/> x $5.00</p>
            
              <p class="stockStatus"> In Stock</p>
        </div>  
            
        <div class="prodTotal cartSection">
        <p>$15.00</p>
    </div>
    </div>    
    <script src = "../javascript/cart.js"></script>
  </body>

</html>