<!DOCTYPE html>
    
<div id="container">
    <h1>Google Pay Integration</h1>
        <div class="row">
            <img width="150" height="150" src="../images/Shangri-La.jpg"/>
            <div class="col-sm-6">
                <h5>Product 1</h5>
                <h6>Price: 1.00 AUD</h6>
                <script src="../javascript/gpay.js"></script>
                <script async src="https://pay.google.com/gp/p/js/pay.js" onload="onGooglePayLoaded()"></script>
            </div>
        </div>
</div>
   
   
</html>