<!DOCTYPE html>
  <head>
    <title>Expresso</title>
    <meta charset = "UTF-8">
    <meta name = "description" content = "Exppresso, an e-commerce site that sells coffee beans">
    <meta name = "author" content = "Kai Run Leong (S3862092), Kyriece(enter student number)">
    <meta name = "keywords" content = "Coffee beans, e-commerce, Expresso">
    <meta name = "viewport" content = "width=device_width, initial-scale=1.0">
  </head>

  <body>
    <div class = "topBar">
      <div class = "top_bar_row_padding">
        <div>
          <a href = "Home.html" class = "buttonBrownBlock">HOME</a>
        </div>
        <div>
          <a href = "About.html" class = "buttonBrownBlock">About</a>
        </div>
        <div>
          <a href = "Products.html" class = "buttonBrownBlock">Product</a>
        </div>
      </div>
    </div>
  </body>
</html>