<!DOCTYPE html>
    <head>
        <title>Expresso Login</title>
        <meta charset = "UTF-8">
        <meta name = "description" content = "Exppresso, an e-commerce site that sells coffee beans">
        <meta name = "author" content = "Kai Run Leong (S3862092), Kyriece(enter student number)">
        <meta name = "keywords" content = "Coffee beans, e-commerce, Expresso">
        <meta name = "viewport" content = "width=device_width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/index.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
        <style>
        body,html{
            height: 100%;
            font-family: "Inconsolata", sans-serif;
        }
        </style>
    </head>
    <body>
        <div>
            <div class = div-logo>
              <a href = "home.html">
                <img src="../images/icons8-coffee-beans-96.png" alt="Free logo from icons8.com">
              </a>
            </div>
            <div class = login-button-div>
              <a href = "Login.html" class = login-button>Login</a>
            </div>
            <div class = register-button-div>
              <a href = "Register.html" class = login-button>Register</a>
            </div>
      
          </div>
          <div class = "grid-container">
            <div>
              <a href = "home.html" class = "top_button">Home</a>
            </div>
            <div>
              <a href = "About.html" class = "top_button">About</a>
            </div>
            <div>
              <a href = "Products.html" class = "top_button">Product</a>
            </div>
          </div>
        
        <!--NAVIGATION BAR-->

        <div class = "card-wrapper">
            <div class = "card">
              <!-- card left -->
              <div class = "product-imgs">
                <img src="../images/copper.png" alt="">
              </div>
              <!-- card right -->
              <div class = "product-content">
                <h2 class = "product-title">Copper Moon</h2>
                <div class = "product-price">
                  <p>Price: <span>$30</span></p>
                </div>
      
                <div class = "product-detail">
                  <h2>about this item: </h2>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo eveniet veniam tempora fuga tenetur placeat sapiente architecto illum soluta consequuntur, aspernatur quidem at sequi ipsa!</p>
                </div>
      
                <div class = "purchase-info">
                  <input type = "number" min = "0" value = "1">
                  <button type = "button" class = "btn">
                    Add to Cart <i class = "fas fa-shopping-cart"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>